.prominent-button {
    background-color: #c54582;
    border: 2px solid #c54582;
    color: #fff;
    margin-right: 3%;
    min-width: 120px;
    font-weight: 400;
    padding: 2px 20px;
    border-radius: 4px;
    line-height: 1.42857143;
    font-size: 1.65rem;
}
